* {
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --color-dark-background: #1F2937;
    --color-dark-text: #1F2937;
    --color-light-text: #F9FAF8;
    --color-light-alternative-text: #E5E7EB;
    --color-cta-background: #3882F6;
    --color-quote-background: #E5E7EB;

    /* FONTS */
    --text-sie-main: 48px;
    --text-size-header: 36px;
    --text-size-logo: 24px;
    --text-size-secondary: 18px;
}

body {
    font-size: 62.5%;
    margin: 0;
}
a {
    text-decoration: none;
}

.wrapper {
    max-width: 1280px;
    /* centers the content */
    margin: 0 auto;
}

header {
    font-size: var(--text-size-secondary);
    background-color: var(--color-dark-background);
    color: var(--color-light-text);
}
header > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-list {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.link-list a {
    color: var(--color-light-alternative-text);
}

.logo {
    font-size: var(--text-size-logo);
    font-weight: bold;
}