@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --color-dark-background: #1F2937;
    --color-dark-text: #1F2937;
    --color-light-text: #F9FAF8;
    --color-light-alternative-text: #E5E7EB;
    --color-cta-background: #3882F6;
    --color-quote-background: #E5E7EB;

    /* FONTS */
    --text-size-main: 48px;
    --text-size-header: 36px;
    --text-size-logo: 24px;
    --text-size-secondary: 18px;
}

body {
    font-family: "Roboto", sans-serif;;
    font-size: 62.5%;
    margin: 0;
}
a {
    text-decoration: none;
}

.wrapper {
    max-width: 1280px;
    /* centers the content */
    margin: 0 auto;
}

header {
    font-size: var(--text-size-secondary);
    background-color: var(--color-dark-background);
    color: var(--color-light-text);
}
header > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.link-list {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.link-list a {
    color: var(--color-light-alternative-text);
}

.logo {
    font-size: var(--text-size-logo);
    font-weight: bold;
}

main {
    background-color: var(--color-dark-background);
    font-size: 18px;
    color: var(--color-light-alternative-text);
}

main > .wrapper {
    display: flex;
    gap: 36px;
    padding: 120px 0;
}

main section {
    flex: 1;
}

main img {
    flex: 1;
    background-color: gray;
}

.title {
    font-size: var(--text-size-main);
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
}

.subtext {
    margin-top: 0;
}

.button {
    color: var(--color-light-text);
    font-weight: bold;
    background-color: var(--color-cta-background);
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
}

.random-information {
    font-size: var(--text-size-secondary);
}

.random-information .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    padding-top: 30px;
}

h2 {
    font-size: var(--text-size-header);
    font-weight: bolder;
    color: var(--color-dark-text);
}

.cards {
    display: flex;
    max-width: 720px;
    gap: 30px;
}

.card {
    flex: 1;
    text-align: center;
}

.card img {
    outline: 4px solid var(--color-cta-background);
    border-radius: 6px;
    padding: 40px;
}

.inspiring-quote {
    background-color: var(--color-quote-background);
    font-size: var(--text-size-header);
    font-weight: lighter;
    font-style: italic;
}

blockquote {
    margin: 0;
}

.inspiring-quote .wrapper {
    display: flex;
    justify-content: center;
    max-width: 720px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.inspiring-quote footer {
    background-color: inherit;
    color: inherit;
    text-align: right;
    font-size: var(--text-size-logo);
    font-weight: bold;
    font-style: normal;
}

.cta {
    margin: 100px 0;
    font-size: var(--text-size-secondary);
    color: var(--color-light-text);
}

.cta h2 {
    color: white;
    margin: 0;
}
.cta p {
    margin: 0;
}

.cta .wrapper {
    background-color: var(--color-cta-background);
    padding: 50px 120px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button.alt {
    border: 2px solid var(--color-light-text);
}

footer {
    background-color: var(--color-dark-background);
    font-size: var(--text-size-secondary);
    color: var(--color-light-text);
}

footer .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}